<section id="patents">
  <div class="container">
      <h3>{{ len .Site.Data.patents.granted }} {{ .Site.Data.patents.grantedTitle }}</h3>
    <br />
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="blogpost">
      {{ range $i, $el := .Site.Data.patents.granted }}
              <div class="row">
                  <div class="col-md-1">
                      <i class="{{ .icon }}"></i>
                  </div>
                  <div class="col-md-9">
                      <strong><a href="{{ $el.link }}" target="_blank">{{ $el.name }}</a></strong>
                  </div>
                  <div class="col-md-2 text-right">
                      <strong><a href="{{ $el.download }}" target="_blank">Full Text</a></strong>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-11">{{ $el.ipid }}</div>
              </div>
              <br />
              <div class="row">
                  <div class="col-md-1">&nbsp;</div>
                  <div class="col-md-11">{{ $el.description }}</div>
              </div>
              <br />
      {{ end }}
          </div>
      </div>
    </div>
  </div>
</section>
<br />
<br />
