<section id="resume">
    <div class="container">
        <h3>{{ .Title }}</h3>
        <div class="panel panel-default">
                {{ .Content }}
            <div class="panel-body-left">
                <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="aebrenner">
                    <a class="LI-simple-link" href="https://www.linkedin.com/in/aebrenner?trk=profile-badge" target="_blank">Adam Brenner</a>
                </div>
                <br />
            </div>
        </div>
    </div>
</section>
