{{ partial "head" . }}
  <body>

      <!-- Header -->
    <div id="wrap">
      {{ partial "header" . }}
      {{ if isset .Params "projects" }}
        {{ .Render "projects" }}
      {{ else if isset .Params "patents" }}
        {{ .Render "patents" }}
      {{ else if isset .Params "resume" }}
        {{ .Render "resume" }}
      {{ else }}
      <div class="container">
        <div class="blog-post">
          <h3>
            <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          </h3>
        </div>
        <div class="blog-title">
          <h4>
          {{ .Date.Format "January 2, 2006" }}
          <br /><br />
            {{ range .Params.tags }}
            <span class="label label-success">{{ . }}</span>&nbsp;&nbsp;
            {{ end }}
          </h4>
          <hr />
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ .Content }}
              <hr />
              {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
              <div class="related-posts">
                <h5>Related Posts</h5>
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <h6 style="text-align: right">
                        {{ .Date.Format "January 2, 2006" }}
                      </h6>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <h6 style="text-align: left">
                        <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                      </h6>
                    </div>
                  </div>
              </div>
              {{ end }}
            </div>
          </div>
          <hr />
        {{ partial "disqus" . }}
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
    
  </body>
</html>
