<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Copyright &copy; 2013 - {{ now.Format "2006"}} {{ .Site.Params.author }}. All rights reserved.{{ with .GitInfo }} (build: {{ .AbbreviatedHash }}){{ end }}<br />
            Views expressed are mine and do not necessarily reflect those of my employers.<br />
        </p>
    </div>
</footer>

{{ partial "js" . }}
