<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}"><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;Home</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      {{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ if .Pre }}<i class="{{ .Pre }}"></i>&nbsp;&nbsp;&nbsp;{{ end }}{{ .Name | upper }}</a></li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
</nav>
