<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}" />
    {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#005b96">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#005b96">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#005b96">
    <title>
    {{- if isset .Params "title" -}}
        {{- .Params.title -}}
    {{- else if isset .Params "heading" -}}
        {{- .Params.heading -}}
    {{- else -}}
        {{ .Site.Params.description }}
    {{- end -}}
    &nbsp;-&nbsp;{{ .Site.Params.Author }}
	</title>
    {{ hugo.Generator }}

    {{ $style := resources.Get "scss/application.scss" | resources.ExecuteAsTemplate "css/application.css" . | toCSS | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous" media="print" onload="this.media='all'">

    {{- if .Params.highlight -}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/agate.min.css">
    {{ end }}
    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" media="print" onload="this.media='all'">
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL}}{{ . }}">
    {{ end }}
    {{- `<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->` | safeHTML -}}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HKXVE6E37P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HKXVE6E37P');
  </script>
  </head>
