<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.Social.Github }}
      <li><a href="https://github.com/{{ .Site.Params.Social.Github }}" target="_blank"><i class="fab fa-github"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.BitBucket }}
      <li><a href="https://bitbucket.com/{{ .Site.Params.Social.BitBucket }}" target="_blank"><i class="fab fa-bitbucket"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Twitter }}
      <li><a href="https://twitter.com/{{ .Site.Params.Social.Twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.LinkedIn }}
      <li><a href="https://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Stackoverflow }}
      <li><a href="https://stackoverflow.com/{{ .Site.Params.Social.Stackoverflow }}" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Email }}
      <li><a href="mailto:{{ .Site.Params.Social.Email }}" target="_blank"><i class="fas fa-envelope"></i></a></li>
    {{ end }}

  </ul>
</div>
