{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
            <img class="img-circle" src="{{ .Site.BaseURL }}images/{{ .Site.Params.avatar }}" alt="Image of {{.Site.Params.author}}">
        </div>
        <h3>I am <strong>{{ .Site.Params.author }}</strong>, a Software Architect at <span class="dell-blue">Dell Technologies</span> and an entrepreneur.</h3>
        <h3>I love to fix things, mostly because I am the one breaking them.</h3>
        <br />
        {{- if .Site.Params.showResume -}}
        <h3>Checkout my academic &amp; professional <a href="{{ .Site.BaseURL}}resume/">resume</a></h3>
        {{- end -}}
        {{- if .Site.Params.showProjects -}}
        <h3>Have a look at some of my <a href="{{ .Site.BaseURL }}projects/">projects</a></h3>
        {{- end -}}
        {{- if .Site.Params.showPatents -}}
        <h3>Explore my {{ len .Site.Data.patents.granted }} granted <a href="{{ .Site.BaseURL }}patents/">patents</a></h3>
        {{- end -}}
        {{- if .Site.Params.showBlog -}}
        <h3>Or read my <a href="{{ .Site.BaseURL }}blog/">blog</a></h3>
        {{- end -}}
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
